= render "shared/errors", obj: @order
- @order.build_customer
= form_for(@order) do |f|
  .grid-x.grid-padding-x
    .large-12.cell
      = f.fields_for :customer do |builder|
        .grid-x.grid-padding-x
          .large-6.cell
            = builder.label :phone_no, "Customer Phone No"
            = builder.text_field :phone_no, id: :phone_no
          .large-6.cell
            = builder.label :customer_id, "Customer Name"
            = builder.text_field :name, disabled: true, id: :name
        
    .large-6.cell
  %h5 Order list
  %hr/
  .fields
    = f.fields_for :order_line_items do |builder|
      = render 'order_line_item.html', f: builder 
  = f.submit :class => "button"
  = link_to_add_row('Add Product', f, :order_line_items, class: 'button') 
