.grid-x.grid-padding-x
  .large-8.medium-8.medium-offset-2.cell
    %h2 Orders
    %hr/
    %table
      %thead
        %tr
          %th{:width => "100"} Date
          %th Name
          %th Phone No
          %th.float-right Amount
          %th{:colspan => 2} Order History
      %tbody
        - @orders.each do |order|
          %tr
            %td= order.created_at.to_time.strftime("%d-%m-%Y")
            %td= order.customer.try(:name)
            %td= order.customer.try(:phone_no)
            %td.float-right= number_to_currency_rs(order.grand_total)
            %td= link_to "View" , order_path(order)
            %td= link_to 'Download Invoice', order_path(order, :format => :pdf)

    = will_paginate
.text-center
  [ #{link_to 'Back to the dashboard' ,root_path} ]