.grid-x.grid-padding-x
  .large-8.medium-8.medium-offset-2.cell
    %center
      %h2 Invoice
    .grid-x
      .cell.medium-6.fifty-fifty
        %p 
          = current_user.address1 
          %br/
          = current_user.address2 
          %br/
          = current_user.city
          %br/
          = current_user.state 
          = current_user.pincode
          %br/
          %strong GSTIN:
          = current_user.gstin
      .cell.medium-6.fifty-fifty
        = wicked_pdf_image_tag  "logo.png" , width:"200", class: "right"
    .grid-x.clear
      .cell.medium-6.fifty-fifty
        %p
          %strong Customer Name : 
          = @order.customer.name
          %br/
          %strong Customer Phone No : 
          = @order.customer.phone_no
      .cell.medium-6.fifty-fifty
        %p.right-align
          %strong Order No : 
          = @order.id
          %br/
          %strong Order Date : 
          = @order.created_at.to_time.strftime("%d-%m-%Y")
    
    %table.font13px
      %thead
        %tr
          %th{:width => "80"} Sr. No
          %th Product name
          %th Rate
          %th Qty
          %th Total
          %th Discount
          %th Sub Total
          %th GST
          %th Total
      - sub_total_amount = 0
      - total_discount = 0
      - total_gst = 0
      - total_amount = 0
      %tbody
        - count = 1
        - @order_line_items.each do |order_line_item|
          %tr
            %td= count
            %td= order_line_item.product.name
            %td= order_line_item.rate
            %td= order_line_item.quantity
            %td= order_line_item.sub_total
            %td= order_line_item.discount
            %td= order_line_item.sub_total - order_line_item.discount
            
            %td= order_line_item.gst_amount
            %td.float-right= order_line_item.total
            - count += 1
            - sub_total_amount += order_line_item.sub_total
            - total_discount += order_line_item.discount
            - total_gst += order_line_item.gst_amount
            - total_amount += (order_line_item.sub_total - order_line_item.discount)
        %tr
          %th.right-align{:colspan => 8}
            Total
          %td.float-right
            = sub_total_amount.round(2)
        %tr
          %th.right-align{:colspan => 8}
            Discount
          %td.float-right
            = total_discount
        %tr
          %th.right-align{:colspan => 8}
            Sub Total
          %td.float-right
            = total_amount.round(2)
        %tr
          %th.right-align{:colspan => 8}
            GST
          %td.float-right
            = total_gst.round(2)
        %tr
          %th.right-align{:colspan => 8}
            Grand Total
          %td.float-right
            = @order.grand_total.round(2)

