<!DOCTYPE html>
!!!
%html.no-js{:dir => "ltr", :lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Receipt Gen
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    %script{:src => "http://code.jquery.com/jquery-latest.min.js", :type => "text/javascript"}
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .top-bar
      .top-bar-left
        %ul.dropdown.menu{"data-dropdown-menu" => ""}
          %li.menu-text Receipt Gen
          %li
            #{link_to 'Dashboard' ,"#"}
          %li
            %a{:href => "#"} Orders
            %ul.menu.vertical
              %li
                #{link_to 'List orders' ,""}
              %li
                #{link_to 'New order' ,""}
          %li
            %a{:href => "#"} Products
            %ul.menu.vertical
              %li
                #{link_to 'Products list' ,products_path}
              %li
                #{link_to 'New Product' ,new_product_path}
          %li
            %a{:href => "#"} Customers
            %ul.menu.vertical
              %li
                #{link_to 'Customers list' ,customers_path}
              %li
                #{link_to 'New Customer' ,new_customer_path}
      .top-bar-right
        %ul.dropdown.menu{"data-dropdown-menu" => ""}
          %li
            %a{:href => "#"} Settings
            %ul.menu.vertical
              %li
                #{link_to 'Preferences' ,preferences_path(current_user)}
              %li
                #{link_to 'Taxation' ,taxes_path}
          %li
            = link_to 'Logout', logout_path , method: :delete 

    .grid-container
      .margin-top
        .grid-x.grid-padding-x
          .large-8.medium-8.medium-offset-2.cell
            = render "layouts/flash"
        = yield
    %script{:src => "https://use.fontawesome.com/a2bf64e623.js"}


